/* Scrollbars minimalistas y elegantes */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(196, 167, 125, 0.1);
  border-radius: 10px;
  transition: background 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(196, 167, 125, 0.4);
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(196, 167, 125, 0.1) transparent;
}
